<?xml version="1.0" encoding="UTF-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.FLASHLIGHT"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

  <uses-feature android:name="android.hardware.camera" android:required="false"/>
  <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>

  <application android:allowBackup="false" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme">

    <activity android:name=".SplashActivity" android:exported="true" android:theme="@style/AppTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity android:name=".WorkflowListActivity" android:exported="false" android:windowSoftInputMode="adjustResize"/>

    <activity android:name=".MainActivity" android:exported="false" android:windowSoftInputMode="adjustResize"/>

    <activity android:name=".NodeEditorActivity" android:exported="false" android:windowSoftInputMode="adjustResize"/>

    <activity android:name=".ExtensionManagerActivity" android:exported="false" android:windowSoftInputMode="adjustResize"/>

  </application>

</manifest>
